<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hubit</title>
  </head>
  <body>
    <header>
      <%= render 'navigation' %>
    </header>

    <section>
      <%= render 'repo' %>
    </section>
  </body>
</html>
